{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "debug": false,
        "targets": {
          "browsers": [
            "last 3 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup"
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
