{
  "presets": ["env", "react"],
  "plugins": ["transform-object-rest-spread", "transform-class-properties", "transform-regenerator", ["prismjs", {
    "languages": ["javascript", "css", "markup"],
    "plugins": ["line-numbers"],
    "theme": "tomorrow",
    "css": true
  }]]
}
